<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlConnectionString" connectionString="server=192.168.1.149;database=HFCloud14Unity_Test;uid=sa;pwd=HF123456sql"/>
  </connectionStrings>
  <appSettings>
    <add key="ImgUrl" value="D:/File/Pic/" />
    <!-- <add key="QBCodeUrlPath" value="http://c.eweic.com/Wap/AseetInfo.aspx"/> -->
    <add key="QBCodeUrlPath" value="http://demo2.eweic.com/Wap/AseetInfo.aspx"/>
    <add key="QBCodeImagePath" value="/QBCodeImage/"/>
    <add key="SheetFile" value="D:\HFCloud1.4\"/>
    <add key="SheetFileRead" value="http://192.168.1.149:805/FileDown/"/>
    <!--巡检上传的图片读取路径-->
    <add key="picReadHref" value="http://192.168.1.149:805/uploadfile/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>